colorama
django-auditlog
django-cors-headers
django-environ
django-extensions
drf-spectacular
drf-yasg
gunicorn
numpy
openapi-codec
pip-chill
psycopg2-binary
pydotplus
pytest
python-dotenv
simplejson
tzdata
django